# Install Dependencies

In [ ]:
%pip install pandas scikit-learn matplotlib mlxtend

# Import Dependencies

In [1]:
import numpy as np
import pandas as pd
from mlxtend.classifier import OneRClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Load Dataset 1

In [2]:
df_1 = pd.read_csv("life_insurance_data.csv")
df_1

    income_usd         property_status  has_life_insurance
0        20500     Owner with Mortgage                   0
1        31500     Owner with Mortgage                   1
2        37000     Owner with Mortgage                   0
3        47000     Owner with Mortgage                   1
4        49000     Owner with Mortgage                   0
5        55000     Owner with Mortgage                   1
6        67500     Owner with Mortgage                   1
7        72000     Owner with Mortgage                   1
8        98000     Owner with Mortgage                   1
9       102000     Owner with Mortgage                   1
10       21000  Owner Without Mortgage                   0
11       33500  Owner Without Mortgage                   0
12       37500  Owner Without Mortgage                   0
13       45000  Owner Without Mortgage                   0
14       49500  Owner Without Mortgage                   0
15       56000  Owner Without Mortgage                   1
16       68500  Owner Without Mortgage                   0
17       77000  Owner Without Mortgage                   0
18       98000  Owner Without Mortgage                   1
19       99500  Owner Without Mortgage                   1
20       10000                  Renter                   0
21       26500                  Renter                   0
22       37500                  Renter                   0
23       43000                  Renter                   0
24       47500                  Renter                   0
25       51500                  Renter                   0
26       60500                  Renter                   0
27       71500                  Renter                   1
28       92000                  Renter                   0
29       93500                  Renter                   1

# Preprocess Dataset 1

In [ ]:
X = df_1.drop(columns=["has_life_insurance"])
y = df_1["has_life_insurance"]

# Convert 'income_usd' into categorical bins and then to integers
income_bins = [0, 25000, 50000, 75000, 100000, 125000]
income_labels = [0, 1, 2, 3, 4]
X["income_usd_bins"] = pd.cut(X["income_usd"], bins=income_bins, labels=income_labels).astype(int)

# Map 'property_status' to numerical values
property_mapping = {"Owner with Mortgage": 0, "Owner Without Mortgage": 1, "Renter": 2}
X["property_status_encoded"] = X["property_status"].map(property_mapping)

# Drop original columns
X = X.drop(columns=["income_usd", "property_status"])

# Split dataset
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X, y, test_size=0.2, random_state=42)

# Convert to NumPy arrays
X_train_np_1 = X_train_1.values
X_test_np_1 = X_test_1.values

array([[2, 2],
       [2, 1],
       [1, 2],
       [3, 1],
       [3, 0],
       [4, 0]])

# Train 1R Classifier

In [22]:
# Initialize OneR model
one_r_1 = OneRClassifier()

# Train the model
one_r_1.fit(X_train_np_1, y_train_1)

# Make predictions
y_pred_1 = one_r_1.predict(X_test_np_1)
print("OneR Rule:", one_r_1.prediction_dict_)
# Evaluate performance
accuracy_1 = accuracy_score(y_test_1, y_pred_1)
print(f'Accuracy: {accuracy_1:.2f}')

OneR Rule: {'total error': np.int64(6), 'rules (value: class)': {np.int64(0): np.int64(0), np.int64(1): np.int64(0), np.int64(2): np.int64(0), np.int64(3): np.int64(1)}}
Accuracy: 0.33

# Load Dataset 2

In [37]:
df_2 = pd.read_csv("ContactLens.csv")
df_2

               Age SpectaclePrescrip Astigmatism TearProdRate ContactLens
0            young             myope          no      reduced        none
1            young             myope          no       normal        soft
2            young             myope         yes      reduced        none
3            young             myope         yes       normal        hard
4            young      hypermetrope          no      reduced        none
5            young      hypermetrope          no       normal        soft
6            young      hypermetrope         yes      reduced        none
7            young      hypermetrope         yes       normal        hard
8   pre-presbyopic             myope          no      reduced        none
9   pre-presbyopic             myope          no       normal        soft
10  pre-presbyopic             myope         yes      reduced        none
11  pre-presbyopic             myope         yes       normal        hard
12  pre-presbyopic      hypermetrope          no      reduced        none
13  pre-presbyopic      hypermetrope          no       normal        soft
14  pre-presbyopic      hypermetrope         yes      reduced        none
15  pre-presbyopic      hypermetrope         yes       normal        none
16      presbyopic             myope          no      reduced        none
17      presbyopic             myope          no       normal        none
18      presbyopic             myope         yes      reduced        none
19      presbyopic             myope         yes       normal        hard
20      presbyopic      hypermetrope          no      reduced        none
21      presbyopic      hypermetrope          no       normal        soft
22      presbyopic      hypermetrope         yes      reduced        none
23      presbyopic      hypermetrope         yes       normal        none

# Preprocess Dataset 2

In [38]:
X = df_2.drop(columns=["ContactLens"])
y = df_2["ContactLens"]

age_mapping = {"young": 0, "pre-presbyopic": 1, "presbyopic": 2}
X["Age_Encoded"] = X["Age"].map(age_mapping)

spectacle_mapping = {"myope": 0, "hypermetrope": 1}
X["Spectacle_Encoded"] = X["SpectaclePrescrip"].map(spectacle_mapping)

astigmatism_mapping = {"no": 0, "yes": 1}
X["Astigmatism_Encoded"] = X["Astigmatism"].map(astigmatism_mapping)

tear_mapping = {"reduced": 0, "normal": 1}
X["TearRate_Encoded"] = X["TearProdRate"].map(tear_mapping)

y_mapping = {"none": 0, "soft": 1, "hard": 2}
y = y.map(y_mapping)

X = X.drop(columns=["Age", "SpectaclePrescrip", "Astigmatism", "TearProdRate"])

X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X, y, test_size=0.2, random_state=42)

X_train_np_2 = X_train_2.values
X_test_np_2 = X_test_2.values

# Train 1R Classifier

In [39]:
# Initialize OneR model
one_r_2 = OneRClassifier()

# Train the model
one_r_2.fit(X_train_np_2, y_train_2)

# Make predictions
y_pred_2 = one_r_2.predict(X_test_np_2)

# Evaluate performance
accuracy_2 = accuracy_score(y_test_2, y_pred_2)
print(f'Accuracy: {accuracy_2:.2f}')

Accuracy: 0.80